<head>
    <link rel="stylesheet" type"text/css" href="style.css">
</head>

<div class="nav-bar"></div>

<div id="app">
    <div class="product">

        <div class="product-image">
            <a :href="link"><img :src="image"></a>

        </div>

        <div class="product-info">
            <h1>{{product}}<span v-if="onSale"> On Sale!</span></h1>
            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory < 10 && inventory > 0">Almost Out of Stock!</p>
            <p v-else>Out of Stock</p>

            <ul>
                <li v-for="detail in details">
                    {{detail}}
                </li>
            </ul>

            <div v-for="variant in variants" :key="variant.variantId">
                <p @mouseover="colorHover(variant.variantImage)">{{variant.variantColor}}</p>
            </div>

            <!--
            <select >
                <option v-for="size in sizes" :key="size.sizeID">{{size.sizeOption}}</option>
            </select>
            -->
            
            <button v-on:click="addToCart">Add to Cart</button>
            <button @click="removeFromCart">Remove From Cart</button>
            <div class="cart">
                <p>Cart({{cart}})</p>
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<script src="main.js"></script>